.Todo__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  padding: 35px 20px;
  margin-bottom: 25px;
  border-radius: 10px;
}

.Todo__form .Label {
  width: 80%;
  font-size: 22px;
}

.Todo__form button {
  margin-top: auto;
  padding: 8px 20px;
}